/*-- scss:defaults --*/
// Base document colors
$link-color: #d4753e;
$link-color-hover: #e9905d;
$navbar-bg: #c55c07;
$navbar-border-color: $gray-800;
$body-bg: #181818;
$body-color: #e4e4e4;
$headings-color: #e4e4e4;
$subtitle-color: #c9c8c8;
